@import "../../assets/flexCss/const.styl";

.tag
  width 100%
  text-align center
  overflow hidden
  display inline-block
  border-radius 2px

/* type */
.tag-default
  background default_blue
  color #fff
.tag-warning
  background default_orange
  color #fff

/* size */
.tag-normal
  height 24px
  line-height 24px
.tag-small
  height 22px
  line-height 22px
.tag-mini
  height 20px
  line-height 20px

