.tag
  width 100%
  text-align center
  overflow hidden
  display inline-block
  border-radius 0.1rem

/* type */
.tag-default
  background #2c83e8
  color #fff
.tag-warning
  background #fc8653
  color #fff

/* size */
.tag-normal
  height 1rem
  line-height 1rem
.tag-small
  height 0.8rem
  line-height 0.8rem
.tag-mini
  height 0.6rem
  line-height 0.6rem

