@import "./const.styl";

.skeleton
  width 100%
  height 100%
  position relative
.skeleton-header
  width 92%
  margin 10px auto
  height 16vh
  background gray-color
  border-radius 4px
.skeleton-body
  width 100%
  .un
    width 60%
    height 24px
    margin-left 4%
    background gray-color
  .skeleton-body-list
    width 92%
    margin 10px auto
    .item
      width 32%
      height 66px
      display inline-block
      margin-bottom 16px
      background gray-color
      border-radius 4px
    .item:nth-child(3n-1)
      margin 0 2%
      margin-bottom 16px
.skeleton-footer
  position absolute
  width 100%
  padding 10px 0
  left 0
  bottom 0
  text-align center
  .item
    background gray-color
    display inline-block
    width 4rem
    height 14px
  em
    color gray-color
