@import '../../assets/css/const.styl'

.button
  width 100%
  display inline-block
  cursor pointer
  text-align center
  overflow hidden
  border 0
  box-sizing border-box
  outline none
  border-radius 0.2rem

/* type */
.button-default
  background #108ee9
  color #fff
.button-gray
  background rgba(96, 96, 96, 0.3)
  color #333
.button-transparent
  background transparent
  border 1px solid #fff
  color #ffffff

/* hollow */
.button-default-hollow
  background #fff
  color #108ee9
  border 1px solid #108ee9
.button-gray-hollow
  background #fff
  color #333
  border 1px solid rgba(96, 96, 96, 0.3)

/* size */
.button-normal
  height 1.6rem
  line-height 1.6rem
  font-size large_font_size

/* active */
.button-default:active
  background #2C83E8
.button-gray:active
  background rgba(96, 96, 96, 0.6)

.button-default-hollow:active
  background #108ee9
  color #fff
.button-gray-hollow:active
  background rgba(96, 96, 96, 0.3)
  color #fff
