@import '../../assets/flexCss/const.styl';

.button
  width 100%
  display inline-block
  cursor pointer
  text-align center
  overflow hidden
  border 0
  box-sizing border-box
  outline none
  border-radius 4px

/* type */
.button-default
  background default_blue
  color #fff
.button-gray
  background rgba(96, 96, 96, 0.3)
  color default_black
.button-transparent
  background transparent
  border 1px solid #fff
  color #ffffff
/* 黄色渐变 */
.button-warningGradient
  background linear-gradient(45deg, #FF7D5D 0%, #F8B343 100%)
  color #fff

/* hollow */
.button-default-hollow
  background #fff
  color #108ee9
  border 1px solid default_blue
.button-gray-hollow
  background #fff
  color default_black
  border 1px solid rgba(96, 96, 96, 0.3)

/* size */
.button-normal
  height 42px
  line-height 42px
  font-size normal_font_size

/* active */
.button-default:active
  background active_default_blue
.button-gray:active
  background rgba(96, 96, 96, 0.6)

.button-default-hollow:active
  background default_blue
  color #fff
.button-gray-hollow:active
  background rgba(96, 96, 96, 0.3)
  color #fff
