<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <script src="https://s1.hdslb.com/bfs/static/mult/js/hotcss.js?_v=1.0"></script>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="./static/css/app.ed8dd39f8b3bd59eeaed96f9b2ad9011.css" rel="stylesheet" />
  <title></title>
</head>
<body>

<div id="app"></div>


<script>
  window.threeConfig = <%- data%>
</script>

</body>
<script type="text/javascript" src="https://a.alipayobjects.com/static/fastclick/1.0.6/fastclick.min.js"></script>
<script type="text/javascript" src="./static/js/manifest.19d2163d5ad309acb357.js"></script>
<script type="text/javascript" src="./static/js/vendor.ce373c1c9159e5657167.js"></script>
<script type="text/javascript" src="./static/js/app.794278f7a6d7e283c652.js"></script>
<script>
  FastClick.attach(document.body)
</script>
</html>
