<!doctype html>
<html lang="zh-CN">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="UTF-8">
  <!--<script src="https://xm-cdn.oss-cn-hangzhou.aliyuncs.com/js/public/hotcss.js?_v=1.0"></script>-->
  <link href=https://xm-cdn.oss-cn-hangzhou.aliyuncs.com/img/favicon_icon/xiaoma_favicon.ico rel="shortcut icon" type=image/x-icon />
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="https://xm-cdn.oss-cn-hangzhou.aliyuncs.com/css/traffic_card/201802021642/app.e08715d5628d98a398440152e724ce32.css" rel="stylesheet" />
  <title></title>
</head>
<body>

<div id="app"></div>

<script>
  window.threeConfig = <%- data%>
</script>

</body>
<script type="text/javascript" src="https://a.alipayobjects.com/static/fastclick/1.0.6/fastclick.min.js"></script>
<script type="text/javascript" src="https://xm-cdn.oss-cn-hangzhou.aliyuncs.com/js/traffic_card/201802021641/manifest.5b375ad6a5fc585e79d7.js"></script>
<script type="text/javascript" src="https://xm-cdn.oss-cn-hangzhou.aliyuncs.com/js/traffic_card/201802021641/vendor.b7477d3255259030d46c.js"></script>
<script type="text/javascript" src="https://xm-cdn.oss-cn-hangzhou.aliyuncs.com/js/traffic_card/201802021641/app.0a2d503e2aaf84693643.js"></script>
<script>
  FastClick.attach(document.body)
</script>
<!--8080统计-->
<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?b0f5c3a0a75ffeaa499ca636957965ff";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>
<!--统计-->
</html>
