<!doctype html>
<html lang="zh-CN">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="UTF-8">
  <!--<script src="https://xm-cdn.oss-cn-hangzhou.aliyuncs.com/js/public/hotcss.js?_v=1.0"></script>-->
  <link href=https://xm-cdn.oss-cn-hangzhou.aliyuncs.com/img/favicon_icon/xiaoma_favicon.ico rel="shortcut icon" type=image/x-icon />
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="https://xm-cdn.oss-cn-hangzhou.aliyuncs.com/css/traffic_card/201803061642/app.13c96ede6ee60acec7ef2844751f5d12.css" rel="stylesheet" />
  <title></title>
</head>
<body>

<div id="app"></div>

<script>
  window.threeConfig = <%- data%>
</script>

</body>
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.4&key=5b01b5bc3a98d66401fa785d56211173"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/socket.io/2.0.4/socket.io.slim.js"></script>
<script type="text/javascript" src="https://a.alipayobjects.com/static/fastclick/1.0.6/fastclick.min.js"></script>
<script type="text/javascript" src="https://xm-cdn.oss-cn-hangzhou.aliyuncs.com/js/traffic_card/201803061641/manifest.1816ecd6d1cc5ebb37be.js"></script>
<script type="text/javascript" src="https://xm-cdn.oss-cn-hangzhou.aliyuncs.com/js/traffic_card/201803061641/vendor.50d37c4c754319480274.js"></script>
<script type="text/javascript" src="https://xm-cdn.oss-cn-hangzhou.aliyuncs.com/js/traffic_card/201803061641/app.7ac5675348cc957a9368.js"></script>
<script>
  FastClick.attach(document.body)
</script>
<!--8080统计-->
<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?b0f5c3a0a75ffeaa499ca636957965ff";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>
<!--统计-->
</html>
