<!doctype html>
<html lang="zh-CN">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="UTF-8">
  <!--<script src="https://xm-cdn.oss-cn-hangzhou.aliyuncs.com/js/public/hotcss.js?_v=1.0"></script>-->
  <link href=https://xm-cdn.oss-cn-hangzhou.aliyuncs.com/img/favicon_icon/xiaoma_favicon.ico rel="shortcut icon" type=image/x-icon />
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="https://xm-cdn.oss-cn-hangzhou.aliyuncs.com/css/traffic_card/201801231414/app.22e0416d0a62fc44fb4bc09cb8a27ede.css" rel="stylesheet" />
  <title></title>
</head>
<body>

<div id="app"></div>


<script>
  window.threeConfig = <%- data%>
</script>

</body>
<script type="text/javascript" src="https://a.alipayobjects.com/static/fastclick/1.0.6/fastclick.min.js"></script>
<script type="text/javascript" src="https://xm-cdn.oss-cn-hangzhou.aliyuncs.com/js/traffic_card/201801231413/manifest.bb9abb8b0484c48dc2df.js"></script>
<script type="text/javascript" src="https://xm-cdn.oss-cn-hangzhou.aliyuncs.com/js/traffic_card/201801231413/vendor.30a9b673e26dd6bfd79c.js"></script>
<script type="text/javascript" src="https://xm-cdn.oss-cn-hangzhou.aliyuncs.com/js/traffic_card/201801231413/app.ff0440d7725ae39cb5b8.js"></script>
<script>
  FastClick.attach(document.body)
</script>
<!--8080统计-->
<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?b0f5c3a0a75ffeaa499ca636957965ff";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>
<!--统计-->
</html>
