toast-fade-leave-active
  opacity 0
.toast
  position fixed
  left 50%
  transform translate(-50%,-50%) scale(1)
  text-align center
  z-index 5001
  max-width 60%
  color #fff
  background rgba(0, 0, 0, 0.7)
  overflow hidden
  padding 0.2rem
  border-radius 0.1rem
  transition opacity .3s linear
  font-size 0.4rem
.toast-top
  top 5%
.toast-middle
  top 45%
.toast-bottom
  top: 95%
