.balance-bg
  width 100%
  position absolute
  left 0
  top 0
  right 0
  bottom 0
  z-index -1
  background rgba(96, 96, 96, 0.1)
.balance-header
  width 100%
  height 6rem
  background-size 100% 100%
  position relative
  .item
    color rgba(255, 255, 255, 0.7)
    width 92%
    margin 0 auto
    h3
      color #fff
      font-size 1.2rem
      font-weight 300
      padding-top 0.3rem
    .item-tag
      width 2rem
  .title
    padding-top 10%
  .flex
    position absolute
    left 3%
    bottom 10%
    display flex
    flex-direction row
    justify-content flex-start
    align-items center
    span
      margin-left 2%
.balance-footer
  width 100%
  background #ffffff
  height 1.2rem
  .main
    width 92%
    height 100%
    margin 0 auto
    display flex
    flex-direction row
    justify-content space-between
    align-items center
  .rmb
    font-size 0.4rem
    .rmb-main
      color #108ee9
      display inline-block
      border-radius 100%
      text-align center
      border 1px solid #108ee9
      width 0.8rem
      height 0.8rem
      line-height 0.8rem
      font-size 0.4rem
  .arrow
    color #c7c7cc
    font-size 0.6rem
