@import './const.styl'

.center
  padding 2rem 0
.bind-card
  width 100%
  .btn
    width 92%
    margin 0 auto
    padding 2rem 0 0.6rem 0
  .desc
    width 100%
    text-align center
    color #D0D0D0
    font-size normal_font_size
  .footer
    width 100%
    position fixed
    bottom 0
    left 0
    img
      width 100%
