@import './const.styl'

.card-close-bg
  width 100%
  position absolute
  z-index -1
  left 0
  right 0
  top 0
  bottom 0
  background rgba(96, 96, 96, 0.1)
.card-close-main
  width 100%
  padding 1.6rem 0 0.2rem 0
  border-bottom 1px solid #a1a1a1
  background #fff
  .card-close-time
    width 3rem
    height 3rem
    margin 0 auto
    img
      width 100%
      height 100%
    .waring-time
      width 100%
      height 100%
      border-radius 100%
      background #FFC600
      color #fff
      text-align center
      line-height 3rem
      font-size 1.2rem
  .card-close-content
    width 100%
    padding-top 0.3rem
    text-align center
    h3
      font-size large_font_size
    .card-close-content-item
      width 100%
      text-align center
      font-size normal_font_size
      padding-top 0.3rem
    .gray
      font-size small_font_size
      color #a1a1a1
.card-close-btn-list
  width 100%
  .item
    width 92%
    margin 0 auto
    padding-top 0.3rem
