.help-list
  padding 0.4rem
  .item
    width 100%
    display flex
    flex-direction row
    justify-content flex-start
    margin-bottom 0.3rem
    em
      display inline-block
      width 8%
    span
      display inline-block
      width 92%
  .question
    color #333333
    font-weight 700
    font-size 0.46rem
  .answer
    color #666
    font-size 0.4rem
    em
      color #63bc56
