@import './const.styl';

.help-list
  .help-list-item
    width 100%
    overflow hidden
    padding 2%
    border-bottom 1px solid #ccc
    .question
      color #666
      font-weight 700
      font-size normal_font_size
      position relative
      display flex
      flex-direction row
      justify-content space-between
      span
        white-space nowrap
        text-overflow ellipsis
        overflow hidden
      .arrow
        font-size large_font_size
        transition all .3s
    .answer
      color #333
      font-size normal_font_size
      padding-top 0.3rem
      display flex
      flex-direction row
      justify-content flex-start
      span
        width 8%
        color #63bc56
        overflow hidden
      .answer-item
        width 92%
        overflow hidden
  .open
    .question
      color #333
    .arrow
      transform rotate(90deg)

