.open-card-bg
  width 100%
  height 8rem
  position absolute
  left 0
  top 0
  z-index -1
  background no-repeat
  background-size 100% 100%
.open-card-img
  width 92%;
  margin 0 auto
  padding-top 3.1rem
.open-card-btn
  width 92%
  margin 0.36rem auto
.open-card-item
  width 100%
  text-align center
  padding-bottom 0.4rem
  font-size 0.36rem
  em
    color #3ab5e6
.open-card-desc
  width 100%
  text-align center
  margin 0.36rem 0
  .header
    font-size 0.46rem
    em
      color #c1c1c1
    span
      color #333
      font-weight 700
  .footer
    font-size 0.36rem
    color #a3a8ae
    padding-top 0.2rem
.open-card-footer
  width 100%
  text-align center
  position fixed
  left 0
  bottom 0.1rem
  font-size 0.3rem
  color #eaeaea
.open-card-popup
  width 100%
  background #fff
  text-align center
  ul
    li
      width 100%
      text-align center
      border-bottom 1px solid #ccc
      padding 0.25rem 0
      color #333
      font-size 0.4rem
