.open-card-end-busy
  width 100%
  padding-top 1rem
  .busy-img
    width 5rem
    display block
    margin 0 auto
  .tips
    width 100%
    text-align center
.try-again
  width 4rem
  margin 0 auto
  padding-top .5rem
