@import './const.styl'

.open-card-bg
  width 100%
  height 12rem
  position absolute
  left 0
  top 0
  z-index -1
  background no-repeat
  background-size 100% 100%
.open-card-img
  width 92%;
  margin 0 auto
  padding-top 4.6rem
.open-card-btn
  width 86%
  margin 0 auto
  padding-top 1rem
.open-card-item
  width 100%
  text-align center
  padding 0.3rem 0 1rem 0
  font-size small_font_size
  em
    color #3ab5e6
.open-card-desc
  width 100%
  text-align center
  margin-bottom 0.3rem
  .header
    font-size large_font_size
    em
      color #c1c1c1
    span
      color #333
      font-weight 700
  .footer
    font-size normal_font_size
    color #a3a8ae
    padding-top 0.2rem
.open-card-footer
  width 100%
  text-align center
  position fixed
  left 0
  bottom 0.1rem
  font-size mini_font_size
  color #eaeaea
.open-card-popup
  width 100%
  text-align center
  ul
    li
      width 100%
      text-align center
      border-bottom 1px solid #ccc
      padding 0.4rem
      background #fff
      color #333
      font-size normal_font_size
