@import "./const.styl";

.recharge-auto
  .card-info
    width 100%
    padding 4%

  .card-list
    width 92%
    margin 0 auto
    border-top 1px solid #ddd
    .card-list-item
      width 100%
      height 1.6rem
      border-bottom 1px solid #ddd
      display flex
      flex-direction row
      justify-content space-between
      align-items center
      .card-list-label, .card-list-value
        font-size large_font_size
        color #333333
      .card-list-value
        .arrow
          color #c7c7c7

  .footer
    margin-top 0.6rem
    width 100%
    text-align center
    height 2.4rem
    display flex
    justify-content center
    align-items center
    .footer-btn
      width 92%

  .popup-item
    width 100%
    background #ffffff
    padding 0.3rem 0
    display flex
    flex-direction column
    justify-content space-between
    .slot-header
      width 92%
      margin 0 auto
      display flex
      flex-direction row
      justify-content space-between
      .slot-header-item
        font-size large_font_size
      .slot-ok
        color #108ee9
    .slot-body, .slot-item, .picker-slot-wrapper
      width 100%
      .picker-item
        font-size large_font_size

