<!doctype html>
<html lang="zh-CN">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="UTF-8">
  <link rel="shortcut icon" type=image/x-icon href=https://xm-cdn.oss-cn-hangzhou.aliyuncs.com/img/favicon_icon/xiaoma_favicon.ico>
  <!--<script src="https://xm-cdn.oss-cn-hangzhou.aliyuncs.com/js/public/hotcss.js?_v=1.0"></script>-->
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="https://xm-cdn.oss-cn-hangzhou.aliyuncs.com/css/traffic_card/201803031523/app.349d1b65451e2b86b051d0ab6ec1523c.css" rel="stylesheet" />
  <title></title>
</head>
<body>

<div id="app"></div>


<script>
  window.threeConfig = <%- data%>
</script>

</body>
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.4&key=5b01b5bc3a98d66401fa785d56211173"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/socket.io/2.0.4/socket.io.slim.js"></script>
<script type="text/javascript" src="https://a.alipayobjects.com/static/fastclick/1.0.6/fastclick.min.js"></script>
<script type="text/javascript" src="https://xm-cdn.oss-cn-hangzhou.aliyuncs.com/js/traffic_card/201803031521/manifest.b5dcc90b78a3d1b0c82a.js"></script>
<script type="text/javascript" src="https://xm-cdn.oss-cn-hangzhou.aliyuncs.com/js/traffic_card/201803031521/vendor.50d37c4c754319480274.js"></script>
<script type="text/javascript" src="https://xm-cdn.oss-cn-hangzhou.aliyuncs.com/js/traffic_card/201803031521/app.99d4265eb93c2214f3a7.js"></script>
<script>
  FastClick.attach(document.body)
</script>
<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?46b453474a655945cad7a0f80e86c36b";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>
</html>
