.card
  width 100%
  height 100%
  position relative
  .card-img
    border-radius 8px
    width 100%
    height 100%
    box-sizing border-box
  .shadow
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2)
  .tips
    width 3rem
    display block
    position absolute
    right -0.2rem
    top 10%
