
<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"><!--定义视口-->
  <meta name="apple-mobile-web-app-capable" content="yes" /><!--启用web app -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black" /><!--web app 顶部颜色样式-->
  <meta name="format-detection" content="telephone=no"><!--手机号不被显示成拨号链接-->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <meta charset="UTF-8">
  <title>开卡/退卡/原路退款</title>
  <style>
    *{
      margin: 0;
      padding: 0;
    }
    html,body,#app{
      width: 100%;
      height: 100%;
    }
    .app-item {
      width: 60%;
      position: absolute;
      z-index: 5;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%) scale(1);
    }
  </style>
</head>
<body>

<div id="app">

  <div class="app-item" v-loading="loading" element-loading-text="拼命加载中"  element-loading-spinner="el-icon-loading">

    <el-switch v-model="selectType" active-text="开卡/退卡" inactive-text="原路退款"></el-switch>

    <div style="margin: 10px 0"></div>

    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" ref="ruleForm">

      <el-form-item prop="appId" v-if="selectType">
        <el-select v-model="ruleForm.id" placeholder="选择退卡商户" filterable style="width: 100%" @change="handleOptionChange">
          <el-option v-for="(item, index) in selectOptions" :key="index" :label="`${item.label}_${item.appId}_${item.cardType}`" :value="item.id"></el-option>
        </el-select>
      </el-form-item>

      <el-form-item prop="userId" v-if="selectType">
        <el-input v-model="ruleForm.userId" placeholder="输入支付宝用户uid"></el-input>
      </el-form-item>

      <el-form-item prop="outTradeNo" v-if="!selectType">
        <el-input v-model="ruleForm.outTradeNo" placeholder="请输入订单编号"></el-input>
      </el-form-item>

      <el-form-item style="text-align: center" v-show="selectType">
        <el-button type="primary" @click="submitOpenCardForm('ruleForm')" v-show="openCardDisabled">开卡</el-button>
        <el-button type="danger" @click="submitCardCloseForm('ruleForm')" v-show="cardCloseDisabled">退卡</el-button>
        <el-button type="primary" @click="tianjinOpenCard('ruleForm')" v-show="!openCardDisabled">天津开卡</el-button>
      </el-form-item>

      <el-form-item style="text-align: center" v-show="!selectType">
        <el-button type="primary" @click="submitRefund('ruleForm')" v-if="isRefundUse">退款</el-button>
      </el-form-item>

    </el-form>
  </div>


</div>

</body>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js" type="text/javascript"></script>
<script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://xm-cdn.oss-cn-hangzhou.aliyuncs.com/js/public/card-close.js?v=201802241614213213231"></script>
<!--<script src="./card-close.js" type="text/javascript"></script>-->

</html>
