<!doctype html>
<html lang="zh-CN">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="UTF-8">
  <link rel="shortcut icon" type=image/x-icon href=https://xm-cdn.oss-cn-hangzhou.aliyuncs.com/img/favicon_icon/xiaoma_favicon.ico>
  <!--<script src="https://xm-cdn.oss-cn-hangzhou.aliyuncs.com/js/public/hotcss.js?_v=1.0"></script>-->
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="https://xm-cdn.oss-cn-hangzhou.aliyuncs.com/css/traffic_card/201802061611/app.0e9853ea7d28d03a505485c79e58f23a.css" rel="stylesheet" />
  <title></title>
</head>
<body>

<div id="app"></div>


<script>
  window.threeConfig = <%- data%>
</script>

</body>
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.4&key=5b01b5bc3a98d66401fa785d56211173"></script>
<script type="text/javascript" src="https://a.alipayobjects.com/static/fastclick/1.0.6/fastclick.min.js"></script>
<script type="text/javascript" src="https://xm-cdn.oss-cn-hangzhou.aliyuncs.com/js/traffic_card/201802061609/manifest.bbd8cd95f2e9eb8787ae.js"></script>
<script type="text/javascript" src="https://xm-cdn.oss-cn-hangzhou.aliyuncs.com/js/traffic_card/201802061609/vendor.b7477d3255259030d46c.js"></script>
<script type="text/javascript" src="https://xm-cdn.oss-cn-hangzhou.aliyuncs.com/js/traffic_card/201802061609/app.84ccf3685593dbe76deb.js"></script>
<script>
  FastClick.attach(document.body)
</script>
<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?46b453474a655945cad7a0f80e86c36b";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>
</html>
