/* 常用字体大小 */
large_font_size = 20px
normal_font_size = 16px
small_font_size = 14px
mini_font_size = 12px

/* 常用颜色 */
default_blue = #108ee9
active_default_blue = #2C83E8

default_black = #333333

default_orange = #fc8653
